@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@400;700&display=swap');

body{
    background-color: #30323D;
    font-family: 'Victor Mono', monospace;
    font-weight: 400;
    font-style: normal;
    color: #E8E9ED;
}

#Title {
    text-align: center;
    font-size: 700;
    font-style: bold;
    justify-content: center;
    font-stretch: ultra-expanded;
}

#bying {
    text-align: center;
}

.DropTextUpperBlock {
    margin-bottom: 15px;
    padding-top: 10px;
    
    text-align: center;    
}

.DropText {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-top: 1px solid #E8E9ED;
    border-bottom: 1px solid #E8E9ED;
}

.DropTitle{
    
    text-align: center;
    width:auto;
    display: inline-flex;
    margin:0;
}

.DropButton {
    color: #E8E9ED;
    margin-top: 10px;
    margin-right: 10px;
    background: none;
    border: none;
}

.DropBody{
    text-align: center;
    align-content: center;
    
    display: none;
    
}


li {
    width: fit-content;
}

a:link {
    color: #5C80BC;
    text-decoration: none;
}

a:visited {
    color: #5C80BC;
    text-decoration: none;
}

a:hover {
    color: #5C80BC;
    text-decoration: underline;
}

ul {
    width: fit-content;
    text-align: left;
    margin: 0% auto 0% auto;
}

@media (orientation: portrait) {
    .DropText {
        width:85%;
    }

}